@tailwind base;
@tailwind components;
@tailwind utilities;

@screen lg {
        .post-card-hover {
                max-width: 337.66px;
                min-width: 337.66px;
                max-height: 168.83px;
                min-height: 168.83px;
        }
}