.testimonial-pic {
    max-width: 206px;
}

.testimonial-rec {
    max-width: 580px;
    max-height: 287px;
}

.testimonial-rec2 {
    max-width: 580px;
    max-height: 287px;
    width: 580px;
    height: 287px;
}